capacitor-google-map {
  display: inline-block;
  width: 275px;
  height: 400px;
}

ion-content {
  --background: transparent;
}

ion-app {
  --background: transparent;
}

html, body {
  --ion-background-color: transparent !important;
}