<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    
    <ion-title>
      Speakers
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterSpeakers($event)" color="light"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item  *ngFor="let speaker of speakers">
      <ion-label routerLink="/speakers/{{speaker.id}}">{{speaker.fullName}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
