<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{speaker.fullName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <img src="{{speaker.imageUrl}}" />
    <h5>
      {{speaker.organisation}}
    </h5>

    <p [innerHtml]="speaker.biography">
    </p>
  </div>

  <ion-list class="detail-list" inset="true" [hidden]="sessions.length === 0">
    <ion-list-header color="light">
      <ion-label>Sessions</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let session of sessions" lines="full">
      <ion-label routerLink="/sessions/{{session.id}}">
        {{session.code}} - {{session.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
