.session-list {
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}