<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>
      Twitter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="hashtag">
    <ion-card-header>
      <ion-card-title>{{currentHashtag}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let tweet of tweets">
    <ion-card class="tweet" [hidden]="tweet.retweet && hideRetweets">
      <ion-item color="light" lines="full">
        <ion-avatar slot="start">
          <img [src]="tweet.profileImage" />
        </ion-avatar>

        <ion-label>
          <h2>{{tweet.fullName}}</h2>
          <p>@{{tweet.nickName}}</p>
        </ion-label>

        <ion-note slot="end">
          {{tweet.timestamp | twitterTimestamp}}
        </ion-note>
      </ion-item>

      <ion-item lines="full" class="tweet-text">
        <ion-label class="ion-text-wrap">
          <p [innerHTML]="tweet.formattedMesssage | trustHtml"></p>
        </ion-label>
      </ion-item>

      <ion-card-content class="retweet" [hidden]="tweet.retweetedBy.length == 0 || !hideRetweets">
        <ion-row>
          <ion-icon name="repeat-outline" style="padding-top: 3px; margin-right: 5px;"></ion-icon>
          <ion-label>
            <p>({{tweet.retweetedBy.length}}) {{tweet.retweetedBy.join(', ')}}</p>
          </ion-label>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </div>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>